<html>
<h1 id="head">Green Bay Real Estate</h1>
<div id="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listings">Listings</a></li>
        </ul>
    </div>


<body>
<center><h2>Current Listing</h2></center>

<center><%= link_to 'Back', listings_path %>
<%= link_to 'Edit', edit_listing_path(@listing) %>    
<%= link_to 'Delete', @listing, :method => 'delete' %>
</center><br><br>
<center>
<table class="pure-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Address</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= @listing.id %></td>
            <td><%= @listing.address %></td>
            <td><%= @listing.unit %></td>
            <td>$<%= @listing.price %>.00</td>
            <td><%= @listing.description %></td>
            <td><%= image_tag @listing.image.url(:medium) %></td>
        </tr>
    </tbody><center>
</table>

</body>
</html>